<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number Of Receipts</th>
        </thead>
        <tbody>
            {% for account in account_object %}
                <tr>
                    <td>{{ account.name }} </td>
                    <td>{{ account.number }} </td>
                    <td>{{ account.receipts.count}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
